
.contact-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #1e2434;
    margin-top: 2vh;
    height: auto;
}

.row {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 85%;
    height: auto;
}

.cta {
    color: rgb(219, 209, 209);
    font-size: 1.2em;
}

.contact-list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-inline-start: 0;
    width: 90%;
}

.contact-list li {
    display: flex;
    align-items: center;
    width: 80%;
    color: rgb(219, 209, 209);
}

.item-prop {
    margin-left: 5px;
}

.item-data {
    margin-left: 5px;
}

.contact-list li p a {
    text-decoration: none;
    color: rgb(219, 209, 209);
}

@media screen and (min-width: 600px) and (max-width: 1023px) {
    .contact-container {
        
        height: 60vh;
    }

    .cta {
        font-size: 1.8em;
    }

    .contact-list li {
        width: 90;
        font-size: 1.4em;
    }

    .item-data {
        margin-left: 20px;
    }

}

@media screen and (min-width: 1024px) and (max-width: 1199px) {
    .contact-container {
        justify-content: flex-start;
        height: 60vh;
    }
    .cta {
        font-size: 2.4em;
    }
    .contact-list li {
        width: 90;
        font-size: 1.6em;
    }

    .item-data {
        margin-left: 20px;
    }
}

@media screen and (min-width: 1200px) {
    .contact-container {
        height: auto;

    }
    .cta {
        font-size: 2.2em;
    }
    .contact-list li {
        width: 90;
        font-size: 1.6em;
    }
    .item-data {
        margin-left: 20px;
    }
    .list {
        justify-content: center;
    }
    
}