
h1 {
    color: #fff;
    font-size: 1.5em;
}

.resume-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2vh;
    height: auto;
    background-color: #1e2434;
}

.pdf-container {
    width: 60%;
}

PDF {
    width: 50%;
}