h1 {
    color: #fff;
    
}

.row {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-grow: nowrap;
    width: 65%;
    height: 5vh;
}

.resume-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2vh;
    height: auto;
    background-color: #1e2434;
}

.experience-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 2vh 0;
}

.exp-header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 90%;
    height: 10vh;
    
}

.company-logo {
    display: flex;
    justify-content: flex-start;
    
}

.title-date {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin-left: 15px;
}

.title-date h3, .title-date p {
    margin: 0;
}

.title-date h3 {
    color: #fff;
}

.subtitle {
    align-self: flex-start;
}

.title-date p {
    color: rgb(219, 209, 209);
    font-size: .8em;
}

.exp-text {
    display: flex;
    justify-content: center;
    
    width: 90%;
}

.exp-text p {
    text-align: justify;
    margin: 0;
    width: 65%;
    color: rgb(219, 209, 209);
    letter-spacing: 0mm;
    line-height: .5cm;
}

.accomplishments {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
}

.accomplishments h3 {
    color: #fff;
    margin: 10px 0 0 0;
}

.accomplishments ul {
    width: 60%;
    color: rgb(219, 209, 209);
    padding-inline-start: 10px;
    margin: 10px;
}

.accomplishments ul li {
    text-align: justify;
}

.skills {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
}

.skills h3 {
    margin: 0;
    color: #fff;
    margin-bottom: 1vh;
}

.badge-group {
    display: flex;
    justify-content: space-around;
    align-content: center;
    flex-flow: wrap;
    width: 65%;
    color: rgb(219, 209, 209);
    font-size: .8em;
}

.badge {
    border: 1px solid rgb(219, 209, 209);
    padding: 5px;
    border-radius: 10px;
    margin: 5px;
}

.comp-logo {
   width: 60px;
   height: 49px;
}

.edu-title {
    color: #fff;
}

.education {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
}

.line {
    border: 1px solid rgb(219, 209, 209);
    width: 60%;
}

@media screen and (min-width: 600px) and (max-width: 1023px) {
    
    .exp-header {
        display: flex;
        justify-content: baseline;
    }

    .row {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-grow: nowrap;
        width: 65%;
        height: 5vh;
    }

    .title-date {
        margin-left: 15px;
    }
    
    .accomplishments ul {
        width: 62%;
    }

    .company-logo {
        width: auto;
    }

    .badge-group {
        width: 65%;
    }
    
}
